# Игнорировать виртуальное окружение
venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/редактор
.vscode/
.idea/

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Логи и временные файлы
*.log
*.tmp
*.swp

# Тесты
tests/

# Секреты
*.env
